@media screen and (max-width: 736px) {
*{
	box-sizing: border-box;
	}
.show-pc{
	display:none !important;
	}
.show-sp,
.show-sp2{
	display:block !important;
	}
.header {
    width: 100%;
    min-width: 0;
}
.container{
	width: auto;
}
.container-sp-H {
    width: auto;
    margin: 0 2.5%;
}
h1 {
    margin-top: 15px;
    width: 225px;
}
.logo img{
	max-width: 100%;
	
}
.container-sp-S{
	text-align: center;
	margin: 0 auto
}
.container-sp-C{
	margin: 0 2.5%;
	display: block;
}
.banner1234 {
    width: calc(100% + 5%);
    margin:0 0 0 -2.5%;
}
.p-1 {
    margin: 15px 0 10px 0;
    font-size: 23px;
}
.listEp li{
	max-width: 426px;
	width: 100%;
	margin: 0 auto;
	display: block;
}
.listEp li img{
	width: 100%;
}
h2 {
    font-size: 23px;
    margin: 40px 0 0 0;
    border-bottom: 7px solid #f39801;
}
.banner-2{
	display: inline-block;
	width: calc(100% + 5%);
    margin:15px 0 15px -2.5%;

}
.p-2{
	font-size: 26px;
	margin: 0;
}
.img-text-1{
	width: 100%;
	margin: 15px 0;
	display: block;
}
.p-3{
	font-weight: normal;
}
.banner-3 {
    display: block;
    margin: 15px auto 40px auto;
    text-align: center;
    width: 100%
}
.listtroubled li {
    width: 100%;
    display: inline-block;
    margin: 0 0 7px 0;
    vertical-align: top;
}
.listtroubled li img{
	width: 100%;
}
.listVoice-1{
	padding: 2.5%;
	width: 100% ;
}
.listVoice-1 li p{
    overflow: inherit;
}

.listVoice-1 li p .span1{
	margin-bottom: 3px;
}
.listVoice-1 li {
    width: 100%;
    text-align: left;
    float: none;
    margin-right: 0;
    display: inline-block;
    margin-bottom: 20px;
}
.listVoice-1 li img{
	margin-right: 2.5%;
}
.listVoice-1 li:last-child{
	margin-bottom: 0;
}
.img-text-23{
	max-width: 600px;
	width: 100%;
}
.listtroubled {
    margin: 15px 0 28px 0;
}
.p-4{
	margin-bottom: 8px;
	font-size: 14px;
}
.listVoice-1 li p .span2{
	font-size: 14px;
}
.listtroubled li:last-child{
	margin-bottom: 0;
}
.img-14{
	width: 100%;
}
.TVshopping{
	margin-top: 15px;
}
.tvl{
	float: none;
	margin-bottom: 20px;
	display: block;
}
.tvr {
    float: none;
    width: 100%;
    text-align: left;
}
.tvr .p-6{
	margin-bottom: 20px;
}
.tvr .p-6 img{
	display: block;
	margin-right: 0;
	margin-bottom: 7px;
}
.point12{
	max-width: 340px;
	width: 50%;
}
.point22{
	max-width: 389px;
	width: 60%;
}
.point32{
	max-width: 232px;
	width: 35%;
}
.tvr-box{
	padding: 3%;
	margin-top: 30px;
}
.tvr-box p{
	font-size: 14px;
	line-height: 20px;
}
.ServiceFlow img.img-15{
	width: 100%;
	margin-right: 0;
	margin-bottom: 30px;
}
.img-16{
	width: 100%;
	margin-top: 10px;
	display: inline-block;
}
.p-8 {
    display: block;
    margin: 0px 0 25px 0;
}
.img-18{
	max-width: 260px;
	width: 100%
}
.p-10 img{
	max-width: 100%;
}
.p-9{
	margin-bottom: 0;
}
.p-10{
	margin-top: 20px;
}
.p-12 img{
	max-width: 100%;
}
label {
    font-size: 14px;
    color: #333;
    text-align: left;
    width: 221px;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    margin-bottom: 5px;
}
label img {
    float: right;
    margin-top: 0;
    width: 30px;
}
.fieldset2 {
    float: none;
    margin-left: 0;
    width: 100%;
    border-left: none;
    padding-left: 0;
}
textarea {
    width: 100%;
    font-size: 14px;
}
.input{
	margin-bottom: 18px;
	font-size: 14px;

}
.submit {
    border: none;
    background: url(../images/button-submit.png) no-repeat center center;
    max-width: 512px;
    width: 100%;
    background-size: 100%;
    height: 90px;
    display: inline-block;
    cursor: pointer;
}
.footer {
    min-width: 0;
    margin-top: 15px;
}
.copiriight {
    min-width: 0;
}
.c-copi {
    text-align: center;
    color: #b3b3b3;
    font-size: 11px;
}
.menu-footer{
    margin: 0 2.5%;
    width: 95%;
}
.contact p{
    margin-top: 0;
}
.c-thank img{
    max-width: 100%
}
.p-t-back {
    display: block;
    margin-top: 68px;
    text-align: center;
}
.p-t-back{
    display: inline-block;
}

}
@media screen and (max-width: 570px) {

}
@media screen and (max-width: 560px) {

}
@media screen and (max-width: 462px) {
h1 {
    margin-top: 14px;
    width: 195px;
    font-size: 12px;
}
.logo{
	width: 42%;
}

}
@media screen and (max-width: 414px) {
.logo {
	width: 150px;
	margin: 8px 0 11px 0;
}
h1 {
    margin-top: 9px;
    width: 160px;
    font-size: 10px;
}
.p-1 {
    font-size: 16px;
}
.listEp li {
    width: 95%;
}   
h2 {
    font-size: 16px;
    margin: 30px 0 0 0;
    border-bottom: 5px solid #f39801;
}
.banner-2{
	margin: 10px auto;
    width: 100%;
}
.p-2{
	font-size: 18px;

}
.listVoice-1 li img {
    max-width: 215px;
    width: 58%;
}
.moneyl {
    margin-right: 2.5%;
    font-size: 14px;
    width: 50%;
}
}
@media screen and (max-width: 375px) {
.global span {
	font-size: 33px;
}

}	
@media screen and (max-width: 360px) {

}
@media screen and (max-width: 326px) {
.logo {
    width: 124px;
    margin: 12px 0 7px 0;
}

}	
@media screen and (max-width: 320px) {


}