@media screen and (max-width: 736px) {
*{
        box-sizing: border-box;
    }
body {
    background: url(../imgs/sp/bg.png) no-repeat center top;
}    
.show-pc{
    display:none !important;
    }
.show-sp{
    display:block !important;
    }

.container{
    width: 100%;
    min-width: 0;
}
header {
    height: auto;
    background: none;
}
.logo {
    float: none;
    margin: 0 auto;
    background: url(../imgs/sp/bg-header.png) no-repeat left center;
    width: 100%;
    height: 139px;
    text-align: center;
    display: inline-block;
}
.logo img{
    margin-top: 14px;
}
header h1 {
    margin-top: 0;
    width: 100%;
    background: #065996;
    padding: 16px 0;
    height: auto;
    font-size: 36px;
}
header h1 span {
    font-size: 23px;
}
.NowMake {
    height: auto;
    display: block;
    padding: 10px;
    margin: 2px auto 1px auto;
    line-height: inherit;
}
.NowMake .p1 {
    margin: 0;
    font-size: 15px;
}
.paging {
    font-size: 25px;
}
.paging a{
    font-size: 19px !important;
}
.paging span{
    margin-left: 10%;
}
.paging a.pre.show-sp{
    display: inline-block !important;
}
.paging a.next.show-sp{
    padding-right: 18px;
    display: inline-block !important;
}
.s-match {
    margin: 50px 0 0 0;
}
.s-match li {
    margin: 0;
    width: 20% 
}
.s-match li .nameM{
    font-size: 15px;
}
.s-match li:nth-child(2) {
    margin: 0 5%;
    width: auto;
}
.s-match li img{
    max-width: 100%;
    height: auto;
}
.v {
    font-size: 20px;
    width: 50px;
}
.dsubmit{
    padding: 0 6% 15px 6%;
}
.dsubmit label {
    font-size: 20px;
    margin-left: 0; 
    margin-right: 4%;
    float: left;
    margin-top: 4px;
}
.dsubmit select{
    width: 100%;
    position: inherit;
}
.group {
    max-width: 350px;
    text-align: left;
    width: 54%;
}
.p-submit{
    display: block;
    text-align: center;
    margin: 35px auto 20px auto;
   
}
a.ashare {
    color: #fff;
    text-align: center;
    width: 123px;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
    background: #24a3b2;
    display: inline-block !important;
}
.submit{
    color: #fff;
    text-align: center;
    width: 123px;
    height: 40px;
    line-height: 38px;
    font-size: 20px;
    background: #0070d6;
    display: inline-block;
    position: inherit;
    border: none;
    cursor: pointer;
}
a.ashare, .submit{
    margin: 0;
    width: 45%;
    min-width: 69px;
}
.point {
    font-size: 23px;
    text-align: left;
    margin: 7px 0;
}
.point span {
    font-size: 20px;
    position: inherit;
    left: auto;
    margin-left: 6%;
    margin-right: 6%;
}
.breakdown{
    font-size: 18px;
    margin-bottom: 0;
}
.breakdown span {
    background: url(../imgs/icon-bullet2.png) no-repeat right 7px;
}
.CorrectScore li{
    font-size: 18px;
    margin: 14px 0;
    display: block;
    text-align: center;
}
.formS{
    background: url(../imgs/sp/bg-menu.png) no-repeat left top;
    width: 100%; 
    height: 450px;
    top: auto;
    bottom: 0;
    padding: 23px 10px;
    margin-left: auto;
    left: inherit;
}
form .pf {
    width: auto;
}
.CorrectScore {
    margin: 0 auto 90px auto;
}
.up {
    position: absolute;
    right: 15px;
    top: 8px;
    bottom: auto;
    background: url(../imgs/icon-user.png) no-repeat right top, url(../imgs/icon-bullet2.png) no-repeat left 10px;
    width: 29px;
    height: 40px;
    color: #fff;
    font-size: 20px;
    padding-right: 96px;
    padding-left: 31px;
}
.formS form{
    margin-top: 30px;
}
fieldset{
    text-align: left;
}
fieldset label{
    line-height: 35px;
    font-size: 18px;
}
input.name, input.email, input.password{
    width: 58%;
    border: 1px solid #24648d;
    height: 40px;
}
fieldset.rfieldset{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
    width: auto;
}
fieldset.rfieldset img{
    max-width: 71px;
    width: 18%;
}
fieldset.rfieldset a{
    font-size: 15px;
}
.submitF{
    font-size: 20px;
}
.CorrectScore li span{
    font-size: 20px;
}
.navFooter{
    position: absolute;
    bottom: 0;
}
.submitP{
    display: block;
    margin: 10px auto
}
.submitP .asharepage2,
.submitP .submitpage2{
    display: inline-block;
    position: inherit;
}
.tile_list1 img {
    margin: 0 11px;
    max-width: 81px;
    width: 16%;
}
.kichOff{
    top:-27px;
    bottom: inherit;
}
a.asharepage2,
.submitpage2{
   margin: 0 36px;
    width: 120px;
    min-width: 69px;
}
a.asharepage2{
    margin-left: 0;
}
.submitpage2{
    margin-right: 0;
}
.match2{
    padding-bottom: 70px;
}
.flag{
    margin: 15px auto 5px auto;
}
ul#list1 li {
    margin: 0 18px;
    display: inline-block;
    width: 14%;
}
ul#list1 li img {
    cursor: move;
    max-width: 84px;
    width: 100%;
}
}
@media screen and (max-width: 640px) {


}
@media screen and (max-width: 590px) {
    

}

@media screen and (max-width: 568px) {


}
@media screen and (max-width: 513px) {

}
@media screen and (max-width: 480px) {

}
@media screen and (max-width : 435px){
   

}
@media screen and (max-width : 414px){
    header h1{
    font-size: 30px;
    padding: 8px 0;
    }
    header h1 span {
    font-size: 23px;
    }
   
    .paging {
    font-size: 20px;
    }
    .paging a{
        font-size: 15px !important;
    }
    .s-match {
    margin: 30px 0 0 0;
    }
    .dsubmit{
        margin-top: 30px;
    }
    .submitF {
    padding-left: 20%;
    }
    .dsubmit label {
    font-size: 18px;
    margin-right: 2%;
    }
    .s-match li:nth-child(2){
        margin-top: 10px;
    }
    ul#list1 {
    margin: 35px auto;
    }
 }  
@media screen and (max-width: 349px) {
    
}

@media screen and (max-width: 375px) {
    .submitF {
    padding-left: 27%;
    }
}
@media screen and (max-width: 374px) {
    
}
@media screen and (max-width: 360px) {
    
}

@media screen and (max-width : 353px){
}
@media screen and (max-width : 340px){
.s-match li:nth-child(2) {
    margin: 0 3%;
}
.dsubmit{
    padding: 0 4% 15px 4%;
}
.point span {
    margin-left: 4%;
    margin-right: 4%;
}


}
@media screen and (max-width : 332px){
    
}
@media screen and (max-width: 320px) {
    header h1{
    font-size: 25px;
   }
   header h1 span {
    font-size: 20px;
    }
     .submitF {
    padding-left: 40%;
    }
    a.ashare, .submit{
        font-size: 17px;
        width: 37%;
    }
    .submit{
    min-width: auto;
    
    height: 40px;
        text-align: center;
        display: inline-block;
        margin: 0 auto;
        font-size: 17px;
    }
    ul#list1 li {
    margin: 0 15px;
    display: inline-block;
    width: 14%;
    }
}