@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead {border: 0;font-family: inherit;font-size: 100%;font-style: inherit;font-weight: inherit;margin: 0;outline: 0;padding: 0;}
:focus {outline: 0;}

ol, ul {list-style: none;}
caption{font-weight: normal;text-align: left;}
blockquote:before, blockquote:after,q:before, q:after {content: "";}
blockquote, q {quotes: "" "";}

a img {border: 0;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}


a{ text-decoration:none;}
body {
    color: #313945;
	background:#fff;
	-webkit-text-size-adjust: none;
	font-size:14px;
	position:relative;
	font-family:"ヒラガナ角ゴ PronN W3","Hiragino Kaku Gothic ProN",Verdana,Roboto,"Droid Sans","遊ゴシック",YuGothic,"メイリオ",Meiryo,sans-serif;
}
header {
    width:100%;
	height:600px;
	margin: 0 auto;
	display:block;
	min-width: 1280px;
	background: url(../images/img1.png) repeat-x center center;
	text-align: center; 
}
.pHeader{
	display: inline-block;
	width: 1240px;
	margin: 0 auto;
	height: auto;
	text-align: right;
	color: #f5e700;
	font-size: 16px;
	padding-right: 40px;
}
.pHeader a{
	margin-top:30px;
	display: inline-block;
	color: #f5e700;
	padding: 10px 12px;
	border: 1px solid #f5e700;
}
.rowYellow{
	background: #f5e700 url(../images/img2.png) no-repeat center center;
	height: 498px;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	min-width: 1280px;
}
.rowYellow .content{
	width: 1280px;
	display: block;
    margin: 0 auto;
}
.p1{
	display: inline-block;
	width: 100%;
	margin-top: 135px;
	margin-bottom: 17px;
	text-align: center;
}
.p2{
	font-size: 18px;
	color: #2e2c26;
	display: block;
	line-height: 35px;
}
.rowW{
	background: #fff;
	height: auto;
	min-width: 1280px;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin-bottom: 0 auto
}
.rowW .content{

}
.p3{
	margin: 68px auto;
	display: inline-block;
	width: 100%;
}
.rowW .content ul.ulrowW1{
	margin: 0;
	padding: 0;
	text-align: center;
}
.rowW .content ul.ulrowW1 li{
	display: inline-block;
	margin: 0 10px;
}
.rowB{
	background: #444444;
	display: inline-block;
	width: 100%;
	margin: 75px auto 49px auto;
	text-align: center;
	min-width: 1280px;
}
.p4{
	display: block;
	height: 145px;
	width: auto;
	line-height: 145px;
	font-size: 20px;
	color: #fff;
}
.ulrowW2{
	width: 1180px;
	display: block;
	margin: 0 auto;
	padding: 0;
}
.ulrowW2 li{
	margin: 0 auto 50px auto;
	display: inline-block;
	width: 100%;
	background: #efefef;
	height: 280px;
}

.p5{
	margin: 69px auto 25px auto;
	display: block;
}
.p6{
	color: #2e2c26;
	font-size: 16px;
	display: block;
	line-height: 35px;
	text-align: center;
}
.rowF{
	height: auto;
	width: 100%;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	min-width: 1280px;
}
.rowF .contentF{
	width: 960px;
    display: block;
    margin: 0 auto;
}
.contact{
	display: inline-block;
	width: 100%
}
.fieldset1{
	display: block;
	width: auto;
	text-align: left;
	border-bottom: 1px solid #e5e5e5;
	margin: 20px 0;
}
.fieldset1 label{
	font-size: 14px;
	color: #225a7d;
	text-align: left;
	width: 231px;
	display: inline-block;
	height: 44px;
	line-height: 44px;
	margin-bottom: 25px;
	float: left;
}
.fieldset1 label img{
	float: right;
	margin-top: 9px;
	margin-right: 25px;
}
.input{
	font-size: 14px;
	color: #333;
	height: 43px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	width: 698px;
	text-indent: 10px;
	margin-bottom: 20px;
	font-family: inherit;
	float: left;
	background: #eeeeee;
}
textarea{
	width: 689px;
	display: inline-block;
	height: 144px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 20px 0 0 10px;
	font-size: 14px;
	color: #b9b9b9;
	font-family: inherit;
	background: #eeeeee;
	margin-bottom: 20px;
	color: #333;
}
.icon-nocheck{
    background: url(../images/icon-nocheck.png) no-repeat left center;
    width: auto;
    height: 23px;
    display: inline-block;
    margin-right: 30px;
    padding-left: 30px;
    float: left;
    margin-top: 10px;
   
}
.active-check {
    background: url(../images/icon-check.png) no-repeat left center;  
} 
b.text{
    font-size: 14px;
    color: #4a4a4a;
    display: block;
    width: auto;
    float: left;
    font-weight: normal;
}

.psubmit{
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 74px 0 89px 0;
}
.submit{
	border: none;
	background: #f5dc00;
	width: 495px;
	height: 60px;
	display: inline-block;
	cursor: pointer;
	font-size: 16px;
	color: #333;
	line-height: 60px;
}
.contact p.error{
	display: none;
	color: #ff0000;
	text-align: left;
	margin: 0;
	clear: both;
    margin-left: 230px;
}

.contact input::-moz-placeholder,
.contact input:-ms-input-placeholder,
.contact input::-webkit-input-placeholder {
 	color: #b9b9b9;
  	
}
footer{
	background: #444444;
	height: auto;
	width:100%;
	margin: 0 auto;
	display:block;
	min-width: 1280px;
	text-align: center; 
}
.contentfooter{
	width: 960px;
	display: inline-block;
	max-width: 0 auto;
	text-align: center;
}
.logo{
	display: inline-block;
	margin: 25px auto 35px auto;
	text-align: center;
}
.contentfooter ul{
	margin: 0 auto 25px auto;
	padding: 0 0 30px 0;
	border-bottom: 1px solid #cccccc;
	text-align: center;
}
.contentfooter ul li{
	display: inline-block;
	text-align: center;
	margin: 0 20px;
}
.contentfooter ul li a{
	color: #cccccc;
	font-size: 15px;
	font-weight: bold;
}
.copiright{
	color: #fff;
	font-size: 12px;
	display: block;
	text-align: center;
	margin-bottom: 10px;
	clear: both;
}
.inputsmall{
	width: 90px;
}
.line{
	font-size: 14px;
	color: #b9b9b9;
	display: inline-block;
	width: 32px;
	height: 43px;
	text-align: center;
	float: left;
	line-height: 43px;
}
.sendmail{
	display: block;
	color: #ff0000;
	font-size: 14px;
	text-align: center;
	margin: 40px auto 20px auto;
}
/*chuong*/
.ch-1{
	background: url(../images/1/header.png) repeat-x center center;
}
.ch-wrapper{
	margin: 0 auto;
	max-width: 1186px;
	min-width: 1186px;

}
.ch-ul-top{
	float: left;
	margin-top: 25px;
}
.ch-ul-top li{
	float: left;
	margin-right: 20px;
}
.ch-ul-top li a{
	color: #ffffff;
	font-weight: normal;
	font-size: 16px;
}
.ch-menu-r{
	float: right;
}
.ch-menu-r li{
	float: left;
	margin-left: 15px;
	margin-top: 19px;
}
.ch-wrapper > img{
	clear: both;
	display: block;
	margin: 0 auto;
	padding-top: 140px;
}
.ch-row-1{
	background: #f2f2f2;

}
.ch-wrapper-r1{
	max-width: 788px;
	min-width: 788px;
	margin: 0 auto;
	display: block;
	overflow: auto;
	text-align: center;
}
.ch-tt-r1{
	margin-top: 75px;
}
.ch-text-r1{
	font-size: 18px;
	color: #000000;
	margin-bottom: 75px;
	margin-top: 25px;
}
.ch-a-r1{
	margin-bottom: 90px;
	display: block;
}
.ch-wrapper-r2{
	margin: 0 auto;
	max-width: 788px;
	text-align: center;
}
.ch-row-2{
	background: url(../images/1/bg-r2.png) no-repeat center center;
	min-height: 1142px;
}
.ch-tt-r2{
	margin: 70px 0 20px 0;
}
.ch-cont-r2{
	font-size: 18px;
	color: #000000;
	text-align: left;
}
.ch-tt-r2-2{
	margin: 113px 0 43px 0;ss
}
.map-l,.map-r{
	width: 50%;
	float: left;
}
.ch-foot-p{
	font-size: 18px;
	color: #000000;
	margin-top: 20px;
	display: inline-block;
}
.ch-row-3{
	background: #f2f2f2;
	padding: 95px;
}
.ch-wrapper-r3{
	margin: 0 auto;
	max-width: 870px;
	min-width: 870px;
	text-align: center;
	overflow: auto;
}
.ch-tt-r3{
	margin: 85px 0 30px 0;
}
.ch-des-r3{
	margin-bottom: 20px;
}
.img-r3{
	padding-bottom: 55px;
    display: block;
    margin: 0 auto;
}
.ch-t-left,.ch-t-right{
	width: 50%;
	float: left;
	text-align: left;
	font-size: 12px;
	color: #000000;
}
.ch-t-right{
	padding-left: 50px;
	box-sizing:border-box;
}
.ch-det-tt{
	font-weight: bold;
	margin-bottom: 20px;
	display: block;
}
.ch-text-r3{
	line-height: 2;
}span.ch-det-tt{
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
}
.ch-row-4{
	background: url(../images/1/bg-r3.png) no-repeat center center;
	min-height: 816px;
	text-align: center;
}
.ch-wrapper-r4{
	max-width: 788px;
	min-width: 788px;
	margin: 0 auto;

}
.ch-tt-r4{
	margin-top: 75px;
	margin-bottom: 20px;
}
.ch-ul-r4{
	text-align: left;
}
.ch-tit-r4{
	font-weight: bold;
	font-size: 20px;
	color: #000000;
	margin-bottom: 10px;
}
.ch-des-r4{
	font-size: 16px;
	color: #000000;
}
.ch-ul-r4 li{
	margin-bottom: 30px;
}
.ch-row-5{
	background: #f2f2f2;
	padding-bottom: 90px;
}
.ch-wrapper-5{
	max-width: 1154px;
	min-width: 1154px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}
.ch-row-6{
	padding: 70px 0;
}
.ch-wrapper-6{
	max-width: 872px;
	min-width: 872px;
	margin: 0 auto;
	overflow: auto;
	text-align: center;
}
.ch-p-5{
	text-align: left;
	margin: 20px 0 70px 0;
	font-size: 18px;
	color: #000000;
}
.ch-row-7{
	background: #f2f2f2;

}
.ch-foot-des{
	text-align: center;
	color: #d6d6d6;
	border-bottom: 1px solid #cccccc;
	padding: 0 220px 88px 220px;
	line-height: 2;
	font-size: 14px;
}
.ch-foot-menu {
	padding: 50px 250px;
	overflow: auto;
}
.ch-foot-menu ul.ch-foot-ul {
	width: 33.33%;
	float: left;
	border: none;
	text-align: left;
	padding-bottom: 0;
	margin-bottom: 0;
	font-size: 14px;
}
.ch-foot-menu ul.ch-foot-ul li{
	margin-bottom: 10px;
}
.logo-ch-foot{
	margin-top: 65px;
}
.img-face-foot{
	margin-bottom: 40px;
}
.ch-2{
	background: url(../images/2/header.jpg) repeat-x center center;
	height: 498px;
}
.ch-logo-2{
	margin-top: 17px;
	display: inline-block;
	float: left;
	margin-right: 30px;
}
.active-nav{
	background: url(../images/2/bul.png) right center no-repeat;
	padding-right: 20px;
}
.active-nav a{
	color: #f5e700!important;
}
.ch-row-yellow{
	background: #f5e700;
	text-align: center;
	height: 150px;
	line-height: 160px;
}
.ch-row-white{
	text-align: center;
}
.p-tt-white-2{
	margin: 40px 0;
}
.p-tt-white-3{
	margin: 5px 0 70px 0;
}
.ch-row-j3{
	background: url(../images/2/bg-r3.png) no-repeat center center;
	min-height: 549px;
}
.ch-wrapper-j3{
	max-width: 950px;
	min-width: 950px;
	margin: 0 auto;
	text-align: right;
}
.ch-cont-r-j3{
	width: 50%;
	text-align: center;
	float: right;
}
.p-j3-tt{
	margin-top: 128px;
}
.p-j3-cont{
	font-size: 16px;
	color: #2e2c26;
	line-height: 2;
	text-align: left;
	margin-top: 5px;
	font-weight: bold;
}
.img-readmore{
	margin-top: 85px;
}
.ch-row-j4{
	background: url(../images/2/bg-j4.png) no-repeat center center;
	min-height: 549px;
}
.left{
	float: left;
}
.ch-row-j5{
	background: url(../images/2/bg-j5.png) no-repeat center center;
	min-height: 551px;
}
.soon{
	margin-top: 20px;
}
.ch-row-j6{
	text-align: center;
	font-size: 16px;
	color: #ffffff;
	background: #444444;
	height: 145px;
	line-height: 145px;
	font-weight: bold;
}
.ch-wrapper-j7{
	max-width: 1180px;
	min-width: 1180px;
	background: #efefef;
	margin: 45px auto;
	text-align: center;
	padding: 45px 0;
}
.ch-det-j7{
	font-size: 16px;
	color: #2e2c26;
	line-height: 2;
	width: 400px;
	margin: 25px auto 40px auto;
	font-weight: normal;
}
.ch-row-j8{
	background: #eeeeee;
	overflow: auto;
	padding: 45px 0;
}
.ch-wrapper-j8{
	max-width: 1180px;
	min-width: 1180px;
	margin: 0 auto;
}
.ch-row-j8 .left,.ch-row-j8 .right{
	width: 50%;
	float: left;
	height: 431px;
	text-align: center;
	padding: 124px 0;
	box-sizing:border-box;
}
.ch-row-j8 .left{
	background: url(../images/2/bg-left.png) no-repeat;
	
}
.j8-cont{
	margin-top: 15px;
}
.j8-readmore{
	margin-top: 20px;
}
.ch-row-j8 .right{
	background: url(../images/2/bg-right.png) no-repeat;
}
.ch-row-j6 p{
	text-align: center;
	display: block;
}
.ch-foot-des-j{
	padding: 0 165px 88px 165px;
}
.ch-3{
	background: url(../images/3/header.png) repeat-x center center;
	height: 500px;
}
.ch-row-c4{
	text-align: center;
	overflow: auto;
}
.ch-row-c4 p{
	font-size: 16px;
	color: #2e2c26;
	margin: 40px 0 60px 0;
	font-weight: bold;
}
.ch-ul-c4{
	margin-top: 60px;
	margin-bottom: 45px;
}
.ch-ul-c4 li{
	display: inline-block;
	margin-right: 55px;

}
.ch-ul-c4 li:last-child{
	margin-right: 0;
}
.ch-row-men{
	background: url(../images/3/bg-men.png) no-repeat center center;
	min-height: 579px;
	overflow: auto;
}
.ch-wrapper-men{
	max-width: 960px;
	min-width: 960px;
	margin: 0 auto;
}
.ch-ul-men li{
	width: 50%;
	float: left;
	margin-bottom: 100px;
}
.ch-ul-men li:nth-child(1) img{
	margin-left: 90px;
	margin-top: 65px;
}
.ch-ul-men li:nth-child(2) img{
	float: right;
	margin-top: 65px;
	margin-right: 90px;
}
.ch-ul-men li:nth-child(3) {
	
	margin-top: 0;
	clear: both;
}
.ch-ul-men li:nth-child(4) img {
	float: right;
	
}
.ch-ul-men li:nth-child(5){
	clear: both;
	margin-bottom: 0;
}
.ch-ul-men li:nth-child(5) img{
	margin-left: 90px;
}
.ch-ul-men li:nth-child(6){
	
	margin-bottom: 0;
}
.ch-ul-men li:nth-child(6) img {
	float: right;
	
}
.ch-ul-men li:nth-child(6) img{
	float: right;
	margin-top: 0;
	margin-right: 90px;
}
.clear{
	clear: both;
}
.ch-row-j7{
	overflow: auto;
}
.ch-p-ran{
	margin: 20px 0 30px 0;
	line-height: 2;
	font-size: 16px;
	color: #2e2c26;
}
.ch-ul-top li a:hover{
	color: #f5e700;
}
/* end chuong */